<p><br />Theory:
<a href="http://mistral.informatik.tu-muenchen.de/results/publications/ideas99.pdf"> hierarchical range-clustering of keys</a>,
<a href="http://www.cs.wisc.edu/multifacet/papers/vldb99_dbms_eval.pdf"> DBMSs on a Modern Processor</a>,
<a href="http://www.cs.columbia.edu/~kar/pubsk/selections.pdf"> Conjunctive Selection Conditions</a> <br /><br />

Credits:
<img src="http://www.python.org/favicon.ico" alt="" /><a href="http://www.python.org/">python</a>,
<img src="favicon.ico" alt="" /><a href="http://www.cherrypy.org/">CherryPy</a>,
<a href="http://www.danga.com/memcached/">memcached</a>,
<a href="http://www.tummy.com/Community/software/python-memcached/">python-memcached</a>,
<a href="http://www.webwareforpython.org/DBUtils">DButils</a>,
<a href="http://pyparsing.wikispaces.com/">pyparsing</a>,
<img src="http://www.mysql.org/favicon.ico" alt="" /><a href="http://www.mysql.org/">mysql</a>,
<a href="http://sourceforge.net/projects/mysql-python">MySQLdb</a>,
<img src="http://www.destroydrop.com/favicon.ico" alt="" /><a href="http://www.destroydrop.com/javascripts/tree/">dtree</a>,
<img src="http://chrisarndt.de/favicon.ico" alt="" /><a href="http://chrisarndt.de/en/software/python/threadpool">threadpool</a>,
<img src="http://www.sqlite.org/favicon.ico" alt="" /><a href="http://www.sqlite.org/">SQLite</a>,
<a href="http://www.initd.org/tracker/pysqlite">pysqlite</a>,
<img src="http://www.postgresql.org/favicon.ico" alt="" /><a href="http://www.postgresql.org/">PostgreSQL</a>,
<a href="http://barryp.org/software/bpgsql/">bpgsql</a>,
<img src="http://monetdb.cwi.nl/projects/monetdb//favicon.ico" alt="MonetDB-Icon"/><a href="http://monetdb.cwi.nl/">MonetDB</a>
<br /><br />
Source: <a href="http://sourceforge.net/projects/cubulus/">Cubulus</a>
	project page on <img src="http://www.sf.net/favicon.ico" alt="" /><a href="http://www.sf.net/">SourceForge</a>
</p>
<p style="text-align:right">
 <a href='http://www.webfaction.com'>
 <img src='http://blog.webfaction.com/static/visuals/110x32-hosted-button-bg.png' alt='Hosted by WebFaction' /></a>
</p>
